LoginMain/Connected Services/SrvInquiry/SrvNationalCodeInquiry.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://esup.qom.ir/SrvNationalCodeInquiry/SrvNationalCodeInquiry.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SrvNationalCodeInquiry" />
  <xs:element name="GetPersonInfoJson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pNationalCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pBirthDate_Year" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pBirthDate_Month" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pBirthDate_Day" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonInfoJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SrvNationalCodeInquiry" minOccurs="0" name="GetPersonInfoJsonResult" nillable="true" type="q1:ClsPersonAuthenticationJson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>